In [45]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
import glob
import os

In [54]:
path = '.'
all_files = glob.glob(os.path.join(path,"*.csv"))
data = pd.concat((pd.read_csv(f) for f in all_files),
                 ignore_index =True)
data.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [55]:
data = data[['CONTENT','CLASS']]
data.head()

                                             CONTENT  CLASS
0  Huh, anyway check out this you[tube] channel: ...      1
1  Hey guys check out my new channel and our firs...      1
2             just for test I have to say murdev.com      1
3   me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4            watch?v=vtaRGgvGtWQ   Check this out .﻿      1

In [56]:
data["CLASS"] = data["CLASS"].map({0:"Not Spam",
                                   1 : "Spam Comment"})
data.sample(5)

                                                CONTENT         CLASS
696                                              &lt;3﻿      Not Spam
283   Lol this youtuber (officialpsy) is getting so ...      Not Spam
583                      I LOVE YOU KATTY PERRY &lt;3 ﻿      Not Spam
1768  we are 14 year old boys we are trying to enter...  Spam Comment
1948                                Waka waka she rules      Not Spam

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1956 entries, 0 to 1955
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CONTENT  1956 non-null   object
 1   CLASS    1956 non-null   object
dtypes: object(2)
memory usage: 30.7+ KB

In [60]:
data['CLASS'].value_counts()

CLASS
Spam Comment    1005
Not Spam         951
Name: count, dtype: int64

In [49]:
## Bernoulli Naive Bayes Model
x = np.array(data['CONTENT'])
y = np.array(data['CLASS'])
cv = CountVectorizer()
x = cv.fit_transform(x)
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state = 42)
model = BernoulliNB(alpha = 0.01)
model.fit(xtrain,ytrain)
print(model.score(xtest,ytest))

0.9132653061224489

In [64]:
sample = "Check this out: https://thecleverprogrammer.com/" 
data = cv.transform([sample]).toarray()
print(model.predict(data))

['Spam Comment']

In [51]:
sample = "Lack of information!" 
data = cv.transform([sample]).toarray()
print(model.predict(data))

['Not Spam']